@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
        url("../fonts/Open_Sans/OpenSans-VariableFont_wdth_wght.ttf") format("truetype"),
        url("../fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth_wght.ttf") format("truetype");

}

@layer base{

    *{
        @apply overflow-x-hidden
    }
   
}
@layer components{
.navlinkDesk{
    @apply  mr-5 font-[600] text-[#000]
}
.navlinkMobile{
    @apply  mr-0 py-6 pl-4
}

.navlinkDesk.active{
    @apply  text-[#338FE8]
}
.scroll{
    @apply overflow-x-auto  !important
     
}
.filter-button{
    @apply border-[#C8CBCD] border-r-[1px] last:border-r-0
}
}
.services-section .one{
   position: absolute;
   left:15px;
}
.services-section .two{
    transform: rotate(90deg);
    position: absolute;
    top: 15px;
   
}
.services-section .three{
   
    position: absolute;
    bottom: 0px;
    right: 250px;
   
}
.services-section .four{
   
    position: absolute;
    bottom: 50px;
    left: 350px;
   
}

.services-section .five{
    position: absolute;
    right:15px;
 }
 