 .slick-next:before {
    color: black !important;
    content: url("../icons/arrow.svg");
    padding-left: 5px;
    position: fixed;
}

 .slick-slide {
    
    width: 500px;
}

.slick-list {
width: 100%;
} 