.slick-prev {
  padding: 14px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 5vw;
  background-color: #f5f8fa;
  position: absolute;
  z-index: 8 !important;
  top: 30%;
  transform: rotate(180deg);
  right: 20px;

}

.slick-next {
  padding: 14px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 5vw;
  z-index: 8 !important;
  top: 35%;
  position: absolute;
  right: -20px;
  background-color: #f5f8fa;
}

.slick-prev:hover {
  background-color: #f5f8fa;
}
.slick-next:hover {
  background-color: #f5f8fa;
}
