.grid-container:first-child{
grid-row: 1/3;


}
.grid-container:first-child .grid-item{
    display: flex;
    margin-left: auto;
    margin-right:auto ;
    width: 100%;
    height: 436px;
    flex-direction: column;
    align-items: center;
   
    
}
.grid-container:first-child .grid-img{
width: 350px;
padding-bottom: 20px;
height: 220px;

}
.grid-container:first-child .grid-content{
    width: 90%;
}
